  #info-widget {
    position:fixed;
    z-index: 1000;
    right:10px;
    top:10px;
    min-width:400px;

    font-weight:300;
    font-size: 1em;
    font-family: Courier;
    background-color: #ddd;
  }

dl{margin-top:0;margin-bottom:20px} dt,dd{line-height:1.428571429} dt{font-weight:700} dd{margin-left:0} .dl-horizontal dt{float:left;width:160px;clear:left;text-align:right;overflow:hidden;text-overf‌​low:ellipsis;white-space:nowrap} .dl-horizontal dd{margin-left:180px}
